html, 
body {
    height: 100%;
    /*background-color: rgba(238,238,238,0.5) !important;*/
    /*background-color: rgba(0,150,136,0.06) !important;*/
}

.buttonLink{
    background:none!important;
    border:none; 
    padding:0!important;

   /*optional*/
   font-family:arial,sans-serif; /*input has OS specific font-family*/
    color:#069;
    text-decoration:underline;
    cursor:pointer;
}

.boxLegenda{
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.table{width: 100%; cursor: pointer}

.datepicker:hover{cursor:pointer}
.datepicker-days .today{background: #f5e79e !important;}
.datepicker-days .active{background: #00BFF2 !important;}
.datepicker-days .disabled{background: #ddd !important;}

.box{
    box-shadow: 0px 0px 2px #CCC;
}

.tableRespostas tr td{
    padding-right: 1px !important;
}

.cursor{
    cursor: pointer;
}

.iconeChangeTextSelected{
    color: black !important;
}

.iconeChangeText{
    color: #888;
    cursor: pointer;
    font-size: 20px !important;
}

.iconeChangeText:hover{
    color: black;
}

table.dataTable.no-footer {
    border-bottom: 0px !important;
}

.tdDataTable{
    word-wrap: break-word !important;
}
.tableDashBoardVal {text-align: right;}

.dataTables_wrapper.no-footer{
    /*margin-top: 10px;*/
}

  
/*@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
    white-space: normal;
    width: 100px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
    white-space: normal;
    width: 100px;
  }
}*/

@media (max-width: 800px) 
{

/*    #menuLateralAdministracao{
        display: none;
    }*/

    .divDashboard 
    {
        width: 100% !important;
    }
    .divDashboard2
    {
        margin-top: 10px !important;
        margin-left: 0px !important;
    }
    #divBanner{
        display: none;
    }
    .toolbar{
        margin-top: 8px;
    }
    .dataTables_filter{
        float: right !important;
        display: inline-block;
        margin-left: 10px;
    }
    .size-1140 .line {
        margin: 0 auto;
        max-width: 71.25em;
        padding: 0 !important;
    }

    #mainBox{
        background-color: rgba(0,59,108,0.06) !important;
        height: 100% !important;
    }
    #menu{
        position: absolute;
        right: 0px;
        width: 70%;
    }
    #logoIsratour{
        display: block !important;
    }
    .nav-text{
        margin: 0 0 0 0px !important;
    }
    .dataTables_filter input {
        width: 120px !important;
    }
    /*    .header{
            position: fixed !important;
            width: 100%;
            z-index: 100;
        }
        .margin{
            margin-top: 50px !important; 
        }*/

    .nicEdit-main{
        /*width: 245px !important;*/
    }

    .nicEdit-panelContain{
        width: 250px !important;
    }
    h1{
        font-size: 20px !important;
    }
    .descFiltro{
        display: none;
    }
    .descFiltroMob{
        display: inline-block !important;
    }
    .selectFiltro{
        margin-left: 2px !important;
        width: 100px !important;
    }
    .fc-toolbar {
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }
    #calendar h2{
        font-size: 19px !important;
        margin-top: 5px !important;
    }
    
    
}